<!DOCTYPE html>

<html>

<head>
    <title>Image Cluster Test</title>
    <link rel="stylesheet" href="ImageCluster.css" />
</head>

<body>
    <h1>
        Information
    </h1>
    <div class="img-container">
        <img class="image priority-2 order-3 cluster-design-1" src="./sample-images/gudetama-1.png" alt="gudetama-1" />
        <img class="image priority-0 order-2 cluster-design-1" src="./sample-images/gudetama-4.jpg" alt="gudetama-2" />
        <img class="image priority-1 order-1 cluster-design-1" src="./sample-images/gudetama-3.png" alt="gudetama-3" />


    </div>
    <p>Hello</p>
</body>

</html>